/* edit_item.css */

.container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #333;
}

form {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

a {
    color: #333;
}
